<legend>Sign up</legend>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
    <div>
        <div><%= f.label :email %>*<br />
        <%= f.email_field :email %>
    </div>
    <div>
        <%= f.label :phone %><br />
        <%= f.phone_field :phone %>
    </div>
    <div>
        <%= f.label :password %>*<br />
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :password_confirmation %>*<br />
        <%= f.password_field :password_confirmation %>
    </div>
    <h5><a href="../terms" target="_BLANK">Please review our registration and use policy</a></h5>
    <div>
        <%= f.submit "Sign Up", :class => 'btn btn-info' %>
    </div>
    <% end %>
    <br />
    <%= render "links" %>