<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= image_tag attachments['preparedly-red.png'].url -%></p>
    <p><h2>A Prepared.ly user just submitted a question:</h2></p>
    <ol>
      <li><p><%= @name %></li>
      <li><p><%= @email %></li>
      <li><p><%= @subject %></li>
      <li><p><%= @body %></li>
    </ol>

  </body>
</html>