<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= image_tag attachments['preparedly-red.png'].url -%></p>
    <h1>Welcome to Prepared.ly!</h1>
    <p><h2>Thanks for signing up. Get started:</h2></p>
    <ol>
      <%= @referral_url %>
      <li><p><a href="<%= @url %>">Sign in</a> to adjust your alert preferences, view weather-based risk, find resources and contact a wildfire specialist.</p></li>
      <li><p>Tell your neighbors and friends across town about Prepared.ly:</p>
        <ul>
          <li><a href="<%= @referral_url %>">Share this link</a></li>
          <li><a href="<%= @facebook_share %>">Discuss on Facebook</a></li>
          <li><a href="<%= @tumblr_share %>">Post on Tumblr</a></li>
          <li><a href="<%= @twitter_share %>">Share on Twitter</a></li>
        </ul>
      </li> 
      <li><p>Use our <a href="<%= @survey %>">survey</a> to help assess your preparedness and improve our services.  Please <a href="mailto:info@prepared.ly">email us</a> your feedback.</p></li>
    </ol>
  </body>
</html>