<div id="retask">
    <div class="contentbox">
        <h1><%= @random.task %></h1>
        <p><%= @random.detail %></p>   
    </div>
    <div class="container-fluid">
        <div class="span6">
            <div class="triangle-top">
            </div>            
            <div class="triangle-top-box">
                <h2>On the scale, this is:</h2>
                <p><%= @random.difficulty %></p>
                <div class ="easy">
                </div>
            </div>  
            <div class="triangle-top">
            </div>       
            <div class="triangle-top-box">         
                <h2>add some knowledge:</h2>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="taskknow">
                    <div class="createtask">
                        <%= link_to '<i class="icon-pencil icon-white"></i> Create a new task'.html_safe, new_task_path, :class =>  'btn-info btn' %>
                        <a class="btn btn-succsss">Submit</a>
                    </div>
                </div>
            </div>  
        </div>   
        <div class="span6">
            <div class="triangle-top">
            </div>       
            <div class="triangle-top-box">                    
                <h2>Why is this important?</h2>
                <p><%= @random.fact %></p>
            </div>
            <div class="triangle-top">
            </div>       
             <div class="triangle-top-box">                     
                <h2>Activity feed:</h2>
                <p>Activity feed goes here</p>
            </div>
        </div>
    </div> 
    <div id="comments">
        <h3>Comments</h3>
        <!-- this will just load all of the comments for the current task, there's no separate partial file -->
        <%= render :partial => @random.comments %>
    </div>
</div>



            

