<h1>Listing tasks</h1>

<div class="main-col">
    <div class="task">
        <h2>
            Task
        </h2>
        <p><%= @random.task %></p>
        <p>detail goes here</p>
    </div>
    <div class="task-hist">

    </div>

    <div class="task-butt">
        <%= link_to 'Skip for now', tasks_path, :class => 'btn btn-success btn' %>   
        
        <%= link_to "Already Done", { :controller => 'completed_tasks', :action => 'completed' }, :class => 'btn btn-success btn' -%> 
        
        <%= link_to 'New Task', new_task_path, :class => 'btn btn-success btn' %>
    </div>  
</div>
<div class="detail-col">
    <h2>Difficulty</h2>
    <%= @random.difficulty %>
</div>
<div class="detail-col">
    <h2>Some context..</h2>
    <p><%= @random.fact %></p>
</div>
<!--    <p class="detail-col triangle-border left">But it could be any element you want.
        But it could be any element you want.<br>But it could be any element you want.<br>
        But it could be any element you want.But it could be any element you want.</p>-->



