<h1>Listing tasks</h1>

<div class="main-col">
        <h2>
            Task
        </h2>
        <p><%= @random.task %>
        </p>
        <h2>
            Facts
        </h2>
        <p>
            <%= @random.fact %>
        </p>
    <%= link_to 'Skip for now', tasks_path, :class => 'btn btn-success btn' %>
    
    <br />
    <%= link_to "Already Done", { :controller => 'completed_tasks', :action => 'completed' }, :class => 'btn btn-success btn' -%> 
    <br />
    <%= link_to 'New Task', new_task_path, :class => 'btn btn-success btn' %>

</div>
<div class="detail-col">
    <h2>Difficulty</h2>
    <%= @random.difficulty %>
</div>



