<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Fact</th>
    <th>Difficulty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @random.task %></td>
    <td><%= @random.fact %></td>
    <td><%= @random.difficulty %></td>
  </tr>
</table>

<br />

<%= link_to 'Skip for now', tasks_path %>

<br />

<% if user_signed_in? %>
  <%= link_to 'Already Done', :controller => 'completed_tasks', :action => 'completed' %>
<% else %>
  Sign up to track your progress!
  <a href="users/sign_up"><button class="btn btn-info btn-large">sign up now >></button></a>
<% end %>

<br />
<% link_to 'New Task', new_task_path %>

<br />


