<%= stylesheet_link_tag "jquery-ui" %>
<!-- note that jqueryui is also required by the calendar, but that's included in application.js -->
<%= javascript_include_tag "timepicker" %>
<p id="notice"><%= notice %></p>
<ul id="myTab" class="nav nav-tabs">
    <li class="active note"><a href="#home" data-toggle="tab">YOUR TASK, SHOULD YOU CHOOSE TO ACCEPT:</a></li>
</ul>

<div class="main-col taskbox">
    <div class="task">
        <p><%= @random.task %></p>
        <div class="detail-task"><%= @random.detail %></div>
    </div>
    <div class="task-butt">
        <% if user_signed_in? %>
            <%= link_to '<i class="icon-time icon-white"></i> Skip this for now'.html_safe, tasks_path, :class => 'btn-large btn-inverse btn' %> 
            <%= link_to '<i class="icon-ok icon-white"></i> I did it!'.html_safe, completed_task_path(@random.id), :class => 'btn-large btn-success btn' -%>
            

            <%= form_tag(reminder_path(@random.id), :action => :post) do%>  
                <%= text_field_tag(:date, "Click to pick a reminder date", {:id => "pick_date", :dateFormat => "yy-mm-dd"}) %>
                <br />
                <label>Email</label><%= check_box_tag 'email' %>
                <br />
                <label>Text</label><%= check_box_tag 'text' %>
                <br />
                <%= submit_tag 'Set my reminder!', :class => 'btn-large btn-success btn' %>  
            <% end %>


            <%= link_to '<i class="icon-pencil icon-white"></i> Create a new task'.html_safe, new_task_path, :class => 'btn-large btn-info btn' %>
        <% else %>
            <%= link_to '<i class="icon-time icon-white"></i> Skip for now'.html_safe, tasks_path, :class => 'btn-large btn-success btn' %>
            
            <a href="users/sign_up"><button class="btn-large btn-info btn"><i class="icon-user icon-white"></i> Sign up to track my progress, set reminders, and create tasks!</button></a>
        <% end %> 
    </div> 

</div>
<div class="detail-col triangle-right left lightblue">
    <div class="note">ON THE SCALE, THIS IS</div>
    <%= @random.difficulty %></div>
<div class="detail-col triangle-right left darkgray">
    <div class="note">WHY IS THIS IMPORTANT?</div>
    <%= @random.fact %>
</div>


