<% content_for :nav_bar_items do %>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
    <li><%= link_to "About", page_path("about") %></li>
<% end %>
<div id="about">
<%= form_tag("/map", :method=> "get") do %>
<h2> About Prepared.ly </h2>
<p>
Prepared.ly is a collaborative project between the City of Austin, the Austin Fire Department, and <a href="codeforamerica.org">Code for America.</a> 
We think losing homes to wildfires is preventable if we all work together, so we built a tool to prove it! </p>

<h2> So, help us prove it. </h2>
<p>We're excited you're here! If you haven't yet, <%= link_to('set up an account', new_user_registration_path)  %>. 
Fire is a real threat and we’re glad you’ve taken the first step to becoming a wildfire-prepared home owner. 
Prepared.ly's mission is to connect you with your neighbors and local fire fighters, 
to help everyone work together to create more fire-aware Austin communities. 

Get started with Prepared.ly
</br>
<ol>
<li><strong>Create an account:</strong> Register your house, and make sure to give us a primary method of contact.</li>
<li><strong>Share Prepared.ly with your friends and neighbors.</strong>  We are effective in numbers!</li>
<li><strong>Check back often.</strong> We’ve teamed up with the Austin Fire Department and will be announcing new features soon.</li>
<li><strong>Help Prepared.ly work for you.</strong> Please complete a quick survey here.</li>
</ol>
Welcome to the the good fight!</br>
The Prepared.ly  Team (@ATXPreparedly)
</p>
<h2> Get in touch <h2>
<p> Give us feedback, send us an email, email the fire department, follow us on twitter, share this page
</p>
<img src="/assets/cfaaustin.png" title="cfa austin">
<% end %>
</div>
