<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @completed_task.user_id %>
</p>

<p>
  <b>Task:</b>
  <%= @completed_task.task_id %>
</p>

<p>
  <b>Completed:</b>
  <%= @completed_task.completed %>
</p>

<p>
  <b>Remind:</b>
  <%= @completed_task.remind %>
</p>


<%= link_to 'Edit', edit_completed_task_path(@completed_task) %> |
<%= link_to 'Back', completed_tasks_path %>
