<!-- //////////////// MAP ////////////////////// -->
<div id="map">MAP SHOULD INSERT HERE</div>
<div id="map-controls">
    <input type="checkbox" id="firestations" name="firestations" checked="checked" />&nbsp;<label for="firestations" class="note">Show Fire Stations</label>
         <a href="#" id="stations-pop" data-content="<strong>Please note</strong> that fire stations are shown for information purposes to better understand your local environment. Geographic proximity to a fire station, or many stations, does <b>not</b> mean you are safer." class="note">Important note about fire stations</a>
</div> 
<div class="contentbox">
    <!-- //////////////// table ////////////////////// -->
            <h4 id="address"><%= @address.address %></h4>
            <hr>
                <ul>
                    <li class="condition-type">
                    Risk of this location:
                
                <% if @risk_level %>  
                    <span class="risk risk-<%= @risk_level %>" id="risk-text"><%= @risk_text %></span>
                    </li>
                <% else %>
                  <li class="condition-type">No risk data is available at this location
                  </li>
                <% end %>
                    <li class="condition-type">Inside of a Burn Ban:
                    <span class="condition" id="inside-burnban"> 
                        <%= @inside_burnban %></span>
                    </li>
                    <li class="condition-type">NWS Weather Warning:
                    <span class="condition" id="inside-nws"> <%= @inside_nws %>
                    </span>
                    </li>
              <li class="note" id="warnings-trigger">Read current warnings</li>
                        <div id="warnings"  style="display: none;">
                          <h2>National Weather Service Warnings In Your Area</h2>
                          <% @warnings.each do |w| -%>
                            <%= w.css("title").text -%><br />
                            <strong>Summary: </strong> <%= w.css("summary").text -%><br />
                            <strong>Urgency: </strong> <%= w.css("urgency").text -%><br />
                            <strong>Severity: </strong> <%= w.css("severity").text -%><br />
                            <strong>Certainty: </strong> <%= w.css("certainty").text -%><br />
                            <strong>Affected counties: </strong> <%= w.css("areaDesc").text -%><br />
                          <% end %>
                            <span class="note" id="remove-warnings">hide warnings</span>
                        </div>
                    <li>
                        <h2>Weather</h2>
                        <hr>
                    </li>
                <li class="condition-type">Wind: 
                <span id="wind-conditions"><%= @wind_conditions %>
                </li>

                <li class="condition-type">Humidity:
                <span id="relative-humidity"> 
                    <%= @relative_humidity %></span>
                </li>
            </ul>
    </div>    

    <div class="contentbox contentbox-short">
        <h2> About Risk Level</h2>
        <p>The risk level is supplied by the Texas Forest Service Wildfire Risk Assessment 
        Portal (TxWRAP), which uses the Fire Intensity Scale (FIS). 
        The FIS quantifies potential fire intensity based on high to extreme weather 
        conditions, fuels, and topography.<br><br>
         <a href="http://www.texaswildfirerisk.com/Map" target="blank"> go to TxWRAP site</a>
         </p>
    </div>    
<script>
   var fire_stations = <%=raw @fs.to_json %>;
   var address_location = {lat: <%=@address.latlon.y %>, lon: <%=@address.latlon.x %>};
   var county_list = "<%= @counties_list %>";
</script>

<script>
var map;
var homeMarker;
$(document).ready(function() {

function setupMap() {

    // make a map, using normal leaflet and stamen toner tiles
    map = new L.Map('map', {maxZoom: 18});
    var mapCenter = new L.LatLng(address_location.lat, address_location.lon);
    var mapZoom = 12;
    var baseUrl = 'http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg',
        attrib = 'Map tiles by Stamen',
        baseLayer = new L.TileLayer(baseUrl, {attribution: attrib, maxZoom:18});
    map.addLayer(baseLayer);


    var fireUrl = 'http://radarcache.srh.noaa.gov/tilecache/tilecache.py/1.0.0/fwx/{z}/{x}/{y}.png?type=google&LAYERS=fwx', attrib = 'Red flag fire warning from NWS', fireLayer = new L.TileLayer(fireUrl, {attribution: attrib, maxZoom:18}); 
    map.addLayer(fireLayer);


    var tx_burn_ban_counties = new L.CartoDBLayer({
    show_cartodb_logo: false,
    map_canvas: 'map',
    map: map,
    user_name:'tinio',
    table_name: 'cntys04',
    query: "SELECT cartodb_id, the_geom_webmercator FROM {{table_name}} WHERE name in ("+county_list+")",
    infowindow: "SELECT cartodb_id, name_locas FROM {{table_name}} WHERE cartodb_id={{feature}}",
    auto_bound: false 
    });

    homeMarker = new L.Marker(new L.LatLng(address_location.lat, address_location.lon));
    map.addLayer(homeMarker);
    map.setView(mapCenter, mapZoom);


    var MyIcon = L.Icon.extend({
        iconUrl: '/assets/firestation.png',
        shadowUrl: '',
        iconSize: new L.Point(40, 13),
        shadowSize: new L.Point(0, 0),
        iconAnchor: new L.Point(20, 13),
        popupAnchor: new L.Point(-3, -26)
    });

    var icon = new MyIcon();

    

    var stations = new L.LayerGroup();
    for(f in fire_stations){
        station = fire_stations[f];
        
        var m = new L.Marker(new L.LatLng(station.latlon.coordinates[1], station.latlon.coordinates[0]), {icon:icon});
        stations.addLayer(m);
        m.bindPopup(station.address + "<br />Austin, TX " + station.zip).openPopup();
    }
    map.addLayer(stations);

    $('#firestations').click(function(){
        if($(this).is(":checked")){
             map.addLayer(stations);
        }else{
            map.removeLayer(stations);
        }
    })
}
function updateMap(data){

    var mapCenter = new L.LatLng(data.location.lat, data.location.lon);
    map.setView(mapCenter, 12);
    map.removeLayer(homeMarker) 
    homeMarker = new L.Marker(mapCenter);
    map.addLayer(homeMarker);

    //set details
    $("#risk-text").text(data.risk_text);
    $("#risk-text").removeClass(function(){ var classes="";for(i in [0,1,2,3,4,5,6,7,8,9]){classes+="risk-"+i+" ";} return classes; })
        .addClass("risk-"+data.risk_level); 
    $("#wind-conditions").text(data.wind_conditions);
    $("#relative-humidity").text(data.relative_humidity);
    $("#relative-humidity").text(data.relative_humidity);
    $("#inside-burnban").text(data.inside_burnban);
    $("#inside-nws").text(data.inside_nws);
    $("#address").text(data.address)
}


if($("#mapinfo").length > 0){

    setupMap();
    $("#fetchaddress").submit(function(e){
        e.preventDefault();
        $("#mapinfo").html("<img src='assets/ajax-loader.gif'>");

        $.ajax("/mapinfo", {data:{q:$(this).find("input#q").val()},success:function(data){
            updateMap(data);
        }})
    });
    $("#fetchaddress").one();

}
}); 
</script>

