<% content_for :stylesheet_yield do %>
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css">
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css">

<% end %>

<% content_for :nav_bar_items do %>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
    <li><%= link_to "About", page_path("about") %></li>
<% end %>
<div id="address-map">
<%= form_tag("/map", :method=> "post") do%>
    <%= text_field_tag(:q, nil,  :value => @address.address, :class => 'address') %>
    <%= submit_tag("Locate", :class => 'button blue') %>
<% end %>
</div>
<div>
  <div id="map-detail">
    <span class="note">Detail view for</span> <h4><%= @address.address %></h4>
    <hr>
    Risk Level: <%= @risk_level %><br/>
    Wind: <%= @wind_conditions %> 
    <br/>
    Humidity: <%= @relative_humidity %>
    <br/>
    Distance: <%= @distance %> meters 
    <br/>
    Inside of a Burn Ban: <%= @inside_burnban %>
    <br/>
    Coordinates: <%= @address.latlon.y %> <%= @address.latlon.x %> 
  </div>
  </div>
  <!-- div that will display the map that is set using below javascript -->
  <div id="map"></div>
</div>


<% content_for :javascript_yield do %>
<!-- scripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
<script type="text/javascript" src="http://vizzuality.github.com/cartodb-leaflet/wax.leaflet.min.js"></script>
<script type="text/javascript" src="http://vizzuality.github.com/cartodb-leaflet/cartodb-leaflet.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

      stamenTilesWithStations();

      function stamenTilesWithStations() {

        // make a map, using normal leaflet and stamen toner tiles
        var map = new L.Map('map');
        var mapCenter = new L.LatLng(<%= @address.latlon.y %>, <%= @address.latlon.x %>);
        var mapZoom = 12;
        var baseUrl = 'http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg',
            attrib = 'Map tiles by Stamen',
            baseLayer = new L.TileLayer(baseUrl, {attribution: attrib, maxZoom:18});
        map.addLayer(baseLayer);

        var tx_burn_ban_counties = new L.CartoDBLayer({
        show_cartodb_logo: false,
        map_canvas: 'map',
        map: map,
        user_name:'tinio',
        table_name: 'cntys04',
        query: "SELECT cartodb_id, the_geom_webmercator FROM {{table_name}} WHERE name in (<%= @counties_list %>)",
        infowindow: "SELECT cartodb_id, name_locas FROM {{table_name}} WHERE cartodb_id={{feature}}",
        auto_bound: false 
        });

        var homeMarker = new L.Marker(new L.LatLng(<%= @address.latlon.y %>, <%= @address.latlon.x %>));
        map.addLayer(homeMarker);
        map.setView(mapCenter, mapZoom);

        var austin_fire_stations = new L.CartoDBLayer({
        show_cartodb_logo: false,
        map_canvas: 'map',
        map: map,
        user_name:'tinio',
        table_name: 'afd_station_location',
        query: "SELECT cartodb_id, the_geom_webmercator FROM {{table_name}} WHERE cartodb_id=<%= @cfs.id %>",
        infowindow: "SELECT cartodb_id, address FROM {{table_name}} WHERE cartodb_id={{feature}}",
        auto_bound: false 
        });

      }
    });
</script>
<% end %>
