<!DOCTYPE html>
<html>
<head>

  <title>Preparedly</title>
    <meta name="viewport" content="width=device-width,initial-scale =1, user-scalable = no" />
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheet_yield %>
  <%= yield :fb_og_tags %>

  <%= stylesheet_link_tag "mobile", :media => "all and (max-width: 600px)" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="container">
    <div id="main-wrap">
        <div id="beta">
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>	

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Overview</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">Scaffolding</a>
              </li>
              <li class="">
                <a href="./base-css.html">Base CSS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Navgation -->
<!--            <div class="navbar navbar-fixed-top">
                <ul class="navbar-inner">
                	<div class="container">
						<%= render 'devise/menu/registration_items' %>
						<%= render 'devise/menu/login_items' %>
						<li><%= link_to "resources", resources_path %></li> 
						<li><%= link_to "about", about_path %></li>
						<ul class="nav pull-right">
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 3 <b class="caret"></b></a>
							<ul class="dropdown-menu">
							  <li><a href="#">Action</a></li>
							  <li><a href="#">Another action</a></li>
							  <li><a href="#">Something else here</a></li>
							  <li class="divider"></li>
							  <li><a href="#">Separated link</a></li>
							</ul>
					  </li>	
					</ul>
				</div>
            </div>-->
<!-- end Navgation -->
            
            <div id="logo-wrapper">
              <a href="/">
                <div id="logo" title="preparedly">
                </div>
              </a>
              </div>
            <div id="main">
                <%= yield %>
            </div>
    </div>
</div>
<div id="footer">
	<div id="footer-green">
		<div id="footer-main">
			<div class="column-wrapper">
				<div class="column-3">
					<a href="http://www.austintexas.gov/department/fire">
					<img title="Austin Fire Department" src="/assets/afd.png" height=200px width=200px>
					</a>
				</div>
				<div class="column-3">

					<a href="http://www.codeforamerica.org">
					<img title="cfa austin" src="/assets/cfaaustin.png">
					</a>
					</div>
				<div class="column-3">
					<a href="http://austintexas.gov/"><img title="austin" src="/assets/austin.png" height=200px width=200px></a>
				</div>
			</div>
			<div class="column-wrapper column-full">
						<p> <a href="mailto:info@prepared.ly"> contact us </a>  &#124; 
						<a href="../resources">check out our resources, and partners </a>  &#124; 
            			<a href="../terms">review our terms of use here</a>
					</p>
			</div>		
		</div>
	</div>

	<div id="footer-bottom">
	</div>


</div>
<!-- Typekit -->
<script type="text/javascript" src="http://use.typekit.com/osj8jgk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<%= yield :javascript_yield %>
<%= javascript_include_tag "application" %>

</body>
<!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30366897-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "code_for_america";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#333333";
  feedback_widget_options.style = "question";
  feedback_widget_options.product = "code_for_america_preparedly";
  feedback_widget_options.tag = "feedback";
  
  feedback_widget_options.custom_css = "feedback.css";
  
  feedback_widget_options.limit = "3";
  

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>


</html>
