<!DOCTYPE html>
<html>
<head>

  <title>Preparedly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheet_yield %>
  <%= yield :fb_og_tags %>
  <%= csrf_meta_tags %>
  <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30366897-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
<div id="wrap">
    <div id="main-wrap">
        <div id="beta">
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
            <div class="nav-bar">
                <ul class="nav-bar-items">
                    <%= yield :nav_bar_items %>
                </ul>
            </div>
                <div id="logo" title="preparedly">
                            <a href="/">
                            <img src="assets/preparedly-red.png" height="95px" width="217px">
                            </a>
                </div>            
            <div id="main">
                <%= yield %>
            </div>
    </div>
</div>
<div id="footer">
	<div id="footer-green">
	</div>
  <a href="contact"><div id="feedback"></div></a>
	<div id="footer-bottom">
	</div>
</div>

<script type="text/javascript" src="http://use.typekit.com/osj8jgk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<%= yield :javascript_yield %>
<%= javascript_include_tag "application" %>

</body>
</html>
