<!DOCTYPE html>
<html>
<head>

  <title>Preparedly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheet_yield %>
  <%= yield :fb_og_tags %>
  <%= csrf_meta_tags %>
  <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30366897-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "code_for_america";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#333333";
  feedback_widget_options.style = "question";
  feedback_widget_options.product = "code_for_america_preparedly";
  feedback_widget_options.tag = "feedback";
  
  feedback_widget_options.custom_css = "feedback.css";
  
  feedback_widget_options.limit = "3";
  

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>


</head>
<body>
<div id="wrap">
    <div id="main-wrap">
        <div id="beta">
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
            <div class="nav-bar">
                <ul class="nav-bar-items">
                    <%= yield :nav_bar_items %>
                </ul>
            </div>
            <div id="logo-wrapper">
              <a href="/">
                <div id="logo" title="preparedly">
                </div>
              </a>
              </div>
            <div id="main">
                <%= yield %>
            </div>
    </div>
</div>
<div id="footer">
	<div id="footer-green">
		<div id="footer-main">
			<div class="column-wrapper">
				<div class="column-3">
					<a href="http://www.codeforamerica.org"><img title="cfa austin" src="/assets/cfaaustin.png"></a>
				</div>
				<div class="column-3">
				<p> contact us: <a href="mailto:info@prepared.ly">info@prepared.ly</a></br>
						check out our resources, </br>and partners, <a href="../resources">here</a>.
					</p>
				</div>
				<div class="column-3">
					<a href="http://austintexas.gov/"><img title="austin" src="/assets/austin.png"></a>
				</div>

			</div>
		</div>
	</div>
	<div id="footer-bottom">
	</div>
</div>

<script type="text/javascript" src="http://use.typekit.com/osj8jgk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<%= yield :javascript_yield %>
<%= javascript_include_tag "application" %>

</body>
</html>
