<!DOCTYPE html>
<html>
<head>

  <title>Preparedly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- TODO: Move in controller specific stylesheet -->
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css">
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css">
  <style>
    #map {
      height: 480px;
      width: 640px;
    }
  </style>

  <!-- TODO: Move JS at bottom of body? -->
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://use.typekit.com/osj8jgk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="beta">
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="nav-bar">
	<ul id="nav-bar-items">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
		<li><a href="">about</a></li>
	</ul>
</div>
<div id="logo" title"preparedly">
</div>
<div id="main">
<%= yield %>
</div>
</body>
</html>
